
<div th:fragment="bookCard(availableBook, bookCardDTO)">
    <div class="card m-5 availableBooks overflow-scroll" style="width: 320px;">
        <div class="card-body">
            <!--                        <div class="overflow-hidden w-100" style="height: 200px;">-->
            <img class="card-img-top object-fit-cover border rounded" th:src="|img/${availableBook.picture}.jpg|" th:alt="${availableBook.title}">
            <!--                        </div>-->
            <h5 class="card-title" th:text="${availableBook.title}"></h5>
            <p class="card-text" th:text="|Publisher: ${availableBook.publisher}|"></p>
            <p class="card-text color-secondary fw-light" th:text="|ISBN: ${availableBook.isbn}|"></p>
            <p th:if="${!bookCardDTO.isShoppingCartContext() && !bookCardDTO.isPurchaseHistoryContext()}" class="card-text color-secondary fw-light" th:text="|Quantity: ${availableBook.inventoryQuantity}|"></p>
            <p class="card-text color-secondary fw-light" th:text="|Price: ${'&#36;'}${availableBook.price}|"></p>
            <button type="button" th:if="${!bookCardDTO.authorities.isAdmin() && (bookCardDTO.isHomeContext() || bookCardDTO.isRecommendationsContext())}" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="${'#bookModalId' + availableBook.id}">
                Add to cart
            </button>
            <div th:if="${bookCardDTO.isShoppingCartContext()}">
                <p class="card-text" th:text="Quantity +ㅤ+ ${availableBook.quantity}"></p>
                <form th:action="@{/shoppingcart/delete/{bookId}(bookId=${availableBook.id})}">
                    <input type="submit" class="btn btn-danger" value="Delete book"/>
                </form>
            </div>
            <button type="button" th:if="${bookCardDTO.authorities.isAdmin()} == true" class="btn btn-primary d-inline-block" data-bs-toggle="modal" th:data-bs-target="${'#bookModalIdUpdate' + availableBook.id}">
                Update book
            </button>
            <!-- TODO: Replace with button and AJAX call onclick -->
            <form class="d-inline-block" th:if="${bookCardDTO.authorities.isAdmin()} == true" th:action="@{/admin/portal/delete/{bookId}(bookId=${availableBook.id})}" th:method="post">
                <input type="submit" class="btn btn-danger" value="Delete book"/>
            </form>

            <div class="modal fade" th:id="${'bookModalId' + availableBook.id}" tabindex="-1" th:aria-labelledby="${'newBookModalLabel' + availableBook.id}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content p-3">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" th:id="${'newBookModalLabel' + availableBook.id}" th:text="'Add book ' + ${availableBook.title} + ' to cart'"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:if="${bookCardDTO.isHomeContext() || bookCardDTO.isRecommendationsContext()}" th:action="@{'/portal/' + (${bookCardDTO.isRecommendationsContext()} ? 'rec/' : '') + 'addToCart'}" th:object="${bookCardDTO.bookRequest}" method="post">
                            <div class="modal-body">
                                <div class="row mb-3">
                                    <label class="form-label">Quantity</label>
                                    <input type="hidden" th:value="${availableBook.id}" name="bookId" />
                                    <!-- this one doesn't let me do the *{} notation thingy for *{quantity} -->
                                    <input type="number" class="form-control" name="quantity" placeholder="Quantity" min="1"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Add book"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" th:id="${'bookModalIdUpdate' + availableBook.id}" tabindex="-1" th:aria-labelledby="${'updateBookModalLabel' + availableBook.id}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content p-3">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" th:id="${'updateBookModalLabel' + availableBook.id}" th:text="'Update book ' + ${availableBook.title}"></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:if="${bookCardDTO.isHomeContext()}" th:action="@{'/admin/portal/' + ${availableBook.id}}" th:object="${book}" method="post">
                            <div class="modal-body">
                                <div class="row mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Title</label>
                                    <input type="text" class="form-control" th:field="*{title}" placeholder="Title"/>
                                </div>
                                <div class="row mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Publisher</label>
                                    <input type="text" class="form-control" th:field="*{publisher}" placeholder="Publisher"/>
                                </div>
                                <div class="row mb-3">
                                    <label for="formGroupExampleInput" class="form-label">ISBN</label>
                                    <input type="text" class="form-control" th:field="*{isbn}" placeholder="ISBN"/>
                                </div>
                                <div class="row mb-3">
                                    <!-- TODO: Improve this! -->
                                    <label for="formGroupExampleInput" class="form-label">Picture</label>
                                    <input type="text" class="form-control" th:field="*{picture}" placeholder="Picture"/>
                                </div>
                                <div class="row mb-3">
                                    <!-- TODO: Improve this! -->
                                    <label for="formGroupExampleInput" class="form-label">Quantity</label>
                                    <input type="text" class="form-control" th:field="*{inventoryQuantity}" placeholder="Quantity"/>
                                </div>
                                <div class="row mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Price</label>
                                    <input type="text" class="form-control" th:field="*{price}" placeholder="Price"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Update book"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
