<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Amazin Book Store</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="common/navbar :: navbar(authorities=${authorities})"></div>

<div th:if="${param.invalidQuantity}" class="p-2 mb-3 alert alert-danger col-6 align-middle w-50 offset-3" role="alert">
  <label th:text="NotㅤEnoughㅤInㅤInventoryㅤFor +ㅤ+ ${param.book}"></label>
</div>

<div class="p-3 w-100">
  <div class="card-body">
    <h2 class="card-title mb-3">Shopping Cart</h2>
    <div class="card mw-90 p-3 overflow-auto" style="height: 700px;">
      <div class="card-body">
        <div class="d-flex mw-100 flex-wrap flex-row">

          <div th:each="Book: ${Books}">
            <div th:replace="common/bookCard :: bookCard(availableBook=${Book}, bookCardDTO=${bookCardDTO})"></div>
          </div>

        </div>
      </div>
    </div>
    <form th:action="@{/shoppingcart/checkout}" style="float: right;">
      <input type="submit" class="btn btn-primary" value="Checkout"/>
    </form>
    <form th:action="@{/shoppingcart/cancel}" th:method="get" style="float: right;">
      <input type="submit" class="btn btn-danger" value="Cancel"/>
    </form>
    <h3><span class="badge bg-secondary" style="float: right" th:text="${'Total price: $' + totalCartPrice}"></span></h3>
  </div>
</div>

</body>
</html>